name: Build

on:
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  setup:
  
    runs-on: ubuntu-latest
    
    steps:
    - name: Get Repository
      uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

  build:
    needs: setup
    runs-on: ubuntu-latest

    steps:
    - name: Verify Gradle Wrapper
      uses: gradle/wrapper-validation-action@v1

    - name: Make Gradle Runnable
      run: chmod +x ./gradlew
      
    - name: Build Gradle Project
      run: ./gradlew build

  test:
    needs: build
    runs-on: ubuntu-latest
    
    steps:
    - name: Test Mod
      run: ./gradlew gameTestServer
