name: Build

on:
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Get Repository
      uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        
    - name: Verify Gradle Wrapper
      uses: gradle/wrapper-validation-action@v1
      
    - name: Build Gradle Project
      run: ./gradlew gameTestServer
